* {
  margin: 0;
  padding: 0;
}

@keyframes sun {
  25% {
    top: 0;
    /* animation-timing-function: ease-in; */
    background-image: linear-gradient(to bottom right, yellow, yellow);
  }
  50% {
    background-image: linear-gradient(to bottom right, red, yellow);
  }
  100% {
    top: 100px;
    /* animation-timing-function: ease-out; */
    background-image: linear-gradient(to bottom right, pink, orange);
  }
}
.sun-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 230, 230) !important;
}
.sun {
  height: 600px;
  width: 600px;
  background-image: linear-gradient(to bottom right, red, yellow);
  border-radius: 50%;
  animation-name: sun;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: absolute;
}
